ul.tree, ul.tree ul {
     list-style-type: none;
     background: url(../img/vline.png) repeat-y;
     margin: 0;
     padding: 0;
   }
   
   ul.tree ul {
     margin-left: 5px;
   }

   ul.tree li {
     margin: 0;
     padding: 0 10px; 
     line-height: 20px; /* As the img is 20px wide */
     background: url(../img/node.png) no-repeat;
     color: #369;
     font-weight: bold;
   }
   
   ul.tree li.last {
   /* 
   * The lastnode.png overwrites the node.png.
   *   
   * The white background covers up the vline that repeats on the y axis of the ul's.
   * But this way gradient backgrounds are not possible.
   * The alternative is more flexible but populates the HTML with a div for every
   * <li> element.
   */
     background: #fff url(../img/lastnode.png) no-repeat;
   }