
ul.tree, ul.tree ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tree li.open {
	background: url(../img/triangle_down_lightgray.png) no-repeat 0px 3px;
	padding-left: 13px;
}

ul.tree li.closed {
	background: url(../img/triangle_right_lightgray.png) no-repeat 0px 3px;
	padding-left: 13px;
}

ul.tree li div.node {
	background: url(../img/folder_lightgray.png) no-repeat 0px 3px;
	padding-left: 16px;
}